<main>
    <section>
        <div class="full  bg-color-purple">
            <div class="row full align-items-center">
                <div class="col-12 text-center">
                    <img src="../../assets/images/spasce-ship.JPG" class="img">
                    <p class="h1 fw-bold color-white">PROXIMAMENTE.</p>
                    <p class="h3 fw-bold color-white">Pagina en construccion. Estamos trabajando en una mejor experiencia</p>
                    <a routerLink="/"><button type="button" class="btn btn-danger bg-color-pink mt-3"><< Regresar al Home</button></a>
                 </div>
            </div>
        </div>
    </section>
</main>
