<app-header></app-header>
<main>
    <section>
        <div class="container">
            <div class="row align-items-center mt-5">
                <div class="col-12 col-sm-12 col-md-8">
                    <p class="h4 color-pink font-weight-normal">Discover new data analytics tools</p>
                    <p class="principal lh-1 fw-900 color-purple font-weight-bold">Data science for SEO</p>
                    <p class="h5 color-purpe font-weight-normal">
                        Learn to gather and analyze data provided by Google 
                        Analytics. searcg consoles & web servers with pur new data science course
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 text-center mt-3 mt-md-0">
                    <img src="../../assets/images/spasce-ship.JPG" class="img">
                </div>
            </div>
            <div class="row mt-3 mt-md-5 bg-light rounded-3">
                <div class="col-6 col-sm-6 col-md-3 p-3 ">
                    <p class="br-blue">
                        <span class="h1 color-purple fw-900">20-22</span><br>
                        <span class="color-pink h4">September</span><br><br>
                        <span class="color-purpe h6">3 days of intense practice</span>
                    </p>
                </div>
                <div class="col-6 col-sm-6 col-md-3 p-3 ">
                    <p class="br-blue">
                        <span class="h1 color-purple fw-900">24</span><br>
                        <span class="color-pink h4">Hours</span><br><br>
                        <span class="color-purpe h6">10:00 AM - 6:00 PM</span>
                    </p>
                </div>
                <div class="col-6 col-sm-6 col-md-3 p-3 ">
                    <p>
                        <span class="h1 color-purple fw-900">20</span><br>
                        <span class="color-pink h4">Seats</span><br><br>
                        <span class="color-purpe h6">Limited number of seats</span>
                    </p>
                </div>
                <div class="col-6 col-sm-6 col-md-3 p-3 bg-color-blue br-tbr">
                    <p class="br-blue">
                        <span class="color-white h4">price</span><br>
                        <span class="h1 color-purple fw-900">$245</span><br><br>
                        <span class="color-purpe h6">Best offer</span>
                    </p>
                </div>
            </div>
            <div class="row mt-3 mt-md-5 pb-4 bb-gray align-items-center">
                <div class="col-12 col-sm-12 col-md-4 mt-3 mt-md-0">
                    <div class="mx-4 p-5 bg-color-blue rounded-3 h-100">
                        <span>
                            <p class="fw-900 h1 color-purple">24</p>
                            <p class="color-white h4">Hours</p>
                            <p class="color-purple h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p class="mt-3 color-white h4">Level</p>
                            <p class="color-purple h6">Intermediate</p>
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 mt-3 mt-md-0">
                    <span>
                        <p class="h1 fw-900 color-purple">About the course</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            In nibh tellus, sodales aliquam nulla at, varius efficitur risus.
                            Curabitur vitae ipsum a leo venenatis placerat eu a est. Cras vel 
                            usto viverra, consectetur sem vel, sodales libero. Ut in commodo ligula,
                            interdum vehicula tortor. Nunc dui risus, ornare non quam sed, posuere
                            consectetur risus. Pellentesque fringilla libero lorem, eu porta lectus
                            lobortis ut. Ut lobortis dolor sed ornare interdum. <br><br>
                            
                            Donec tincidunteget ipsum tincidunt, at pharetra arcu vestibulum. Cras vehicula
                            llentesque odio, et iaculis diam sollicitudin a. Integer justo nisl, s
                            ollicitudin id nulla ut, viverra commodo lacus. Donec ac quam hendrerit.
                        </p>
                    </span>
                    <button type="button" class="btn btn-danger bg-color-pink mt-3" (click)="bookAplace();">BOOK A PLACE</button>
                </div>
            </div>
            <div class="row mt-4 mt-md-5 mb-md-3">
                <p class="mb-4 h1 color-purple fw-900">Who will benefit</p>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="row align-items-center">
                        <div class="col-5 text-center">
                            <img src="../../assets/images/who-benefit.JPG" class="img">
                        </div>
                        <div class="col-7">
                            <p class="h6 color-purple">
                                Donec tincidunteget ipsum tincidunt, at pharetra arcu vestibulum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="row align-items-center">
                        <div class="col-5 text-center">
                            <img src="../../assets/images/who-benefit2.JPG" class="img">
                        </div>
                        <div class="col-7">
                            <p class="h6 color-purple">
                                Donec tincidunteget ipsum tincidunt, at pharetra.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="row align-items-center">
                        <div class="col-5 text-center">
                            <img src="../../assets/images/who-benefit3.JPG" class="img">
                        </div>
                        <div class="col-7">
                            <p class="h6 color-purple">
                                Donec tincid.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="mx-0 row mt-4 mt-md-5 bg-color-purple align-items-center">
                <div class="col-6 order-2 col-sm-6 order-sm-2 col-md-4 order-md-1 text-center">
                    <img src="../../assets/images/end-1.JPG" class="img-end">
                </div>
                <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-4 order-md-2 text-center">
                    <span>
                        <p class="h1 fw-900 color-blue lh-1 p-4 p-md-0">Sign up for the course now</p>
                        <p class="h4 mt-4 color-white lh-1"> and get a PDF course report & certificate via email</p>
                    </span>
                    <button type="button" class="btn btn-danger bg-color-pink mt-3" (click)="bookAplace();">Register</button>
                </div>
                <div class="col-6 order-3 col-sm-6 order-sm-3 col-md-4 order-md-3 text-center">
                    <img src="../../assets/images/end-2.JPG" class="img-end">
                </div>
            </div>
            <div class="row mt-5 mb-5"></div>
       
    </section>
</main>